<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login or Register</title>
</head>
<body>
    <header>
        <h1>Recipe book</h1>
    </header>
    <div class="content">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                <div class="errors">
                    {% for m in messages %}
                        <p>{{m}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <form action="/register" class="login_register register" method="post">
            <h2>Register</h2>
            <input type="hidden" name="register" value="register">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password">
            <input type="submit" class="submit" value="Submit">
        </form>
        <form action="/login" class="login_register login" method="post">
            <h2>Login</h2>
            <input type="hidden" name="login" value="login">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" class="submit" value="Submit">

        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>